/*font*/

$font: "Exo 2", sans-serif;

/*colors*/

$white: #d7d7d7;
$blue: #0000b8;
$border-gray: #3c3c56;
$text-gray: #838383;
$bg-gray: rgba(42, 42, 57, 0.51);
$bg-gray-hover: rgba(64, 64, 86, 0.51);
$red: #dc4040;
$green: green;
$gradient-blue: linear-gradient(0deg, rgb(0, 25, 206) 0%, rgba(110,119,188,1) 50%, rgba(219,219,219,1) 100%);

body {
  font-family: $font;
  color: $white;
}

